  <div class="card flex-row flex-wrap">
            <div class="card-header border-0">
                          <img src="//placehold.it/200" alt="" />
                                  </div>
                                          <div class="card-block px-2 mywelcomecard">
                                                                    <p class="card-text trucastuce">Trucs, astuces, conseils, & plus</p>
                                                                    <h4 class="card-title">Des astuces pour
                                                                    vous simplifier la vie</h4>
                                                                    <p class="card-text">Astucerie, c'est un paquet d'astuces et conseils pour vous simplifier la vie dans un maximum de domaine .... et tout ça gratuitement! Ce serait dommage de passer à côté ...</p>

                                                                                <a href="#" class="btn btn-primary">BUTTON</a>
                                                                                        </div>
                                                                                                <div class="w-100"></div>
                                                                                                        <div class="card-footer w-100 text-muted">
                                                                                                                      FOOTER
                                                                                                                              </div>
                                                                                                                                  </div>
