
	ul .nav-item {
		    --bs-nav-link-color: black;
		    --bs-nav-link-hover-color: white;
		    transition:revert;
	    }
	    .nav-link{
		    transition:revert;
	    }


.nav-item:hover {
	background:purple;
}
.myfavoritetips {
	font-size:25px;
}
#overlay,#overlayinscription {
	  position: fixed; /* Sit on top of the page content */
	    display: none; /* Hidden by default */
	      width: 100%; /* Full width (cover the whole page) */
	        height: 100%; /* Full height (cover the whole page) */
		  top: 0;
		    left: 0;
		      right: 0;
		        bottom: 0;
			  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
			    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
			      cursor: pointer; /* Add a pointer on hover */
		      }
#text, #textinscription {
	    position: absolute;
	    text-align:center;
	        top: 50%;
		    left: 50%;
		        font-size: 18px;
			    color: white;
			        transform: translate(-50%,-50%);
				    width: 399px;
				        -ms-transform: translate(-50%,-50%);
					    background: linear-gradient(45deg, #7f2c7f, #f7002b);
					        height: 535px;
						    padding: 30px;
					    }
					    .inscribtn,.connectbtn{
						    width:100%;
					    }
					    .offbtn {
						    float:right;
					    }
					    .backbtn{
						    float:left;
					    }
					    #text{
						    height:480px;

					    }
					    #textinscription{
						    height:650px;

					    }
					    .mytips {
						    display:flex;
						    width:100%;
					    }
					    .mytips .div1 {
						    width:70%;
					    }
					    .mytips .div2 {
						    width:30%;
					    }
					    .catname {
						    float:left;
					    }
					    .tipnb {
						    float:right;
					    }
