<div class="col w-50 h-100">
      <div class="card">
        <img src="/uploads/<%=tip.image%>" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><%=tip.title%></h5>
                      <p class="card-text"><span class="username-tip"></span> - <%=l(tip.created_at.to_date)%></p>
                                            </div>
                                                </div>
                                                  </div>
