<div class="card mb-3" style="width: 100%;">
    <div class="row g-0">
          <div class="col-md-4">
                  <img src="..." class="img-fluid rounded-start" alt="...">
                      </div>
                          <div class="col-md-8">
                                  <div class="card-body">
                                    <h5 class="card-title"><%=tip.title%></h5>
                                    <p class="card-text"><span class="myusername"></span> - <%=l(tip.created_at.to_date)%></p>
                                    <p class="card-text"><%=tip.subtitle%></p>

                                                                  </div>
                                                                      </div>
                                                                        </div>
</div>
